<h1>This is the add section of the User</h1>
<b>User Name</b>: <span style="color:red; font-family:serif; font-weight:bold;"><%=@name.upcase%></span><br />
<b>User Id</b>:<span style="color:red; font-family:serif; font-weight:bold;"> <%=@uId%></span>